layout {
    pane split_direction="horizontal" {
        pane split_direction="vertical" size="80%" {
            pane command="yazi" {}
            pane command="codex" {}
          }
        pane size="30%" command="bash" {}
    }
}
